<template>
    <div id="rules" class="modal">
        <div class="modal-content">
            <h4>Règles du jeu</h4>
            <div>
                Un jeu amusant où tu dois positionner une
                photo sur la carte de ta ville sans te tromper et plus vite
                que les autres !
            </div>
            <h5> Points :</h5>
            <div>
                Pour 1 réponse placée à une distance < D : 5 points | < 2D : 3 points | < 3D : 1point <br>
                Les points sont multipliés par 4 pour une réponse en moins de 5 secondes | par 2 en moins de 10 secondes <br>
                Les points ne sont pas acquis pour 1 réponse en plus de 20 secondes
            </div>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn-flat">Fermer</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ModalRules",

    }
</script>

<style lang="scss" scoped>
    #rules {
        color: black;
    }
</style>