<template>
    <div id="bestScore" class="modal">
        <div class="modal-content">
            <h4>Top 15</h4>
            <div v-if="error.is" class="red-text">
                {{ error.msg }}
            </div>
            <table v-else class="striped centered responsive-table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="game in games">
                    <td>{{game.player}}</td>
                    <td>{{game.score}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ModalBestScores",
        data(){
            return {
                games: [],
                error : {
                    is : false,
                    msg : ""
                }
            }
        },
        created() {
            this.getBestScores();
        },
        methods:{
            getBestScores(){
                window.axios.get("games/best").then((response) => {
                    this.games = response.data.games;
                }).catch((error) => {
                    this.error.is = true;
                    this.error.msg = error.response.data.message;
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
    #bestScore {
        color: black;
    }
</style>