<template>
    <form action="#">
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file" accept="image/*" @change="fileSelected">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "FileInput",
        props : ['selectedFile'],
        methods : {
            /** Methode fileSelected
             * Give the image into his parent
             * @param {*} event
              */
            fileSelected(event){
                this.$emit('selectedFile', event.target.files[0]);
            }
        }
    }
</script>

<style scoped>

</style>