<template>
    <div>
        <nav id="header-connection">
            <div class="nav-wrapper red lighten-1">
                <a href="#" data-target="menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <a href="#" class="brand-logo">GéoQuizz</a>
                <ul class="right hide-on-med-and-down">
                    <li><router-link to="/">Login</router-link></li>
                    <li><router-link to="/register">Register</router-link></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="menu">
            <ul>
                <li><router-link to="/">Login</router-link></li>
                <li><router-link to="/register">Register</router-link></li>
            </ul>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "HeaderApp",
        created(){
            /* Load nav menu if thde device is a mobile */
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems);
            });
        },
    }
</script>

<style scoped>

</style>