<template>
    <div class="modalPers">
        <div class="container center-align white">
            <div class="row">
                <h3 class="col l11 s10 left-align">Add a series</h3>
                <button @click="toggleAddSeries(false)" class="col l1 s2">
                    <i class="small material-icons right-align">cancel</i>
                </button>
            </div>
            <div class="row scroll">
                <div v-if="error.is" class="col s12 red-text">
                    {{ error.msg }}
                </div>
                <form class="col s12">
                    <div class="input-field ">
                        <input v-model="newSeries.city" id="city" type="text" class="validate">
                        <label for="city">City</label>
                    </div>
                    <div class="input-field ">
                        <input v-model="newSeries.zoom" id="zoom" type="text" class="validate">
                        <label for="zoom">Zoom</label>
                    </div>
                    <div class="row">
                        <l-map ref="myMap" class="col m6 s12"
                            style="height: 40vh;"
                            :zoom="4"
                            :center="center"
                            @click="setMarker"
                            >
                            <l-tile-layer :url="url"></l-tile-layer>
                            <l-marker v-if="marker" :lat-lng="marker" ></l-marker>
                        </l-map>
                        <div class="col m6 s12">
                            <div class="row">
                                <div class="col s12">
                                    Photos
                                    <hr/>
                                </div>
                                <div class="col s12">
                                    Page {{ page }}
                                </div>
                                <button v-if="page != paramPagination.first" @click="photoPagination(false)" class="col m1 s2">
                                    <i class="small material-icons">chevron_left</i>
                                </button>
                                <span v-else class="col s1">

                                </span>
                                <button v-if="page != paramPagination.last" @click="photoPagination(true)" class="col m1 offset-m10 s2 offset-s10">
                                    <i class="small material-icons">chevron_right</i>
                                </button>
                            </div>
                            <table class="responsive-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Description</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th>Image</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                    <tr v-for="photo in photos">
                                        <td>
                                            <template v-if="addedPhotos.length != 0">
                                                <template v-if="addedPhotos.includes(photo.id)">
                                                    <i @click="undoPhoto(photo.id)" class="small material-icons">check_box</i>
                                                </template>
                                                <template v-else>
                                                    <i @click="addPhoto(photo.id)" class="small material-icons">check_box_outline_blank</i>
                                                </template>
                                            </template>
                                            <template v-else>
                                                <i @click="addPhoto(photo.id)" class="small material-icons">check_box_outline_blank</i>
                                            </template>
                                                
                                        </td>
                                        <td>{{ photo.description }}</td>
                                        <td>{{ photo.lat }}</td>
                                        <td>{{ photo.lng }}</td>
                                        <td>
                                            <img @click="displayDetailPhoto(photo)" :src="photo.url" class="click circle responsive-img"/>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div v-if="!photos" class="row">
                                <img src="@/assets/loading.gif" class="loader col s2 offset-s5" />
                            </div>
                        </div>
                    </div>

                    <br/>
                </form>
            </div>
            <button @click="add" v-if="newSeries.city && newSeries.lat && newSeries.lng && newSeries.zoom"  type="submit" class="waves-effect waves-light btn">
                <i class="large material-icons">add_circle</i>
            </button>
            <button @click="add" v-else  type="submit" class="waves-effect waves-light btn" disabled>
                <i class="large material-icons">add_circle</i>
            </button>
        </div>
        <transition name="fade">
            <BigPhoto v-if="toggleDetailPhoto" :photo="detailPhoto" @viewDetailPhoto="viewDetailPhoto"/>
        </transition>
    </div>
</template>

<script>
    import FileInput from '@/components/FileInput.vue'
    import BigPhoto from '@/components/photo/BigPhoto.vue'
    export default {
        name: "AddSeries",
        props : ['viewAddSeries','pushSeries'],
        components : {
            FileInput,
            BigPhoto
        },
        mounted() {
            this.$nextTick(() => {
                this.$refs.myMap.mapObject;
            });
            this.getPhotos();
        },
        data(){
            return {
                newSeries : {
                    city : "",
                    lat : false,
                    lng : false,
                    zoom : ""
                },
                center:[48.864716, 2.349014],
                url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
                marker: false,
                photos: false,
                page : 1,
                paramPagination : false,
                photos: false,
                addedPhotos : [],
                error : {
                    is : false,
                    msg : ""
                },
                toggleDetailPhoto : false,
                detailPhoto : ""
            }
        },
        methods: {

            /** Methode setMarker
             * event to set the marken when user click on the map
             * @param {*} event
              */
            setMarker(event){
                this.marker = [event.latlng.lat, event.latlng.lng]
                this.newSeries.lat = event.latlng.lat;
                this.newSeries.lng = event.latlng.lng;
            },

            /** Methode getPhotos
             * get a part of photos
             * (change with page)
              */
            getPhotos(){
                window.axios.get("photos?page="+this.page).then((response) => {
                    this.photos = response.data.photos;
                    this.paramPagination = response.data.page;
                }).catch((error) => {
                    this.error.is = true;
                    this.error.msg = error.response.data.message;
                })
            },

            /** Methode photoPagination
             * ++ or -- the page
             * @param bool sens
             */
            photoPagination(sens){
                this.photos = false;
                if(sens){
                    this.page = this.paramPagination.next;           
                }
                else{
                    this.page = this.paramPagination.prev;
                }
                this.getPhotos();
            },

            /** Methode addPhoto
             * push an idPhoto into addedPhotos
             * @param int id
              */
            addPhoto(id){
                this.addedPhotos.push(id);
            },

            /** Methode undoPhoto
             * remove an idPhoto into addedPhotos
             * @param int id
              */
            undoPhoto(id){
                let index = this.addedPhotos.indexOf(id);
                if (index > -1) {
                    this.addedPhotos.splice(index, 1);
                }
            },

            /** Methode add
             * add a new series
              */
            add(){
                window.axios.post('series/', {
                    city : this.newSeries.city,
                    lat : this.newSeries.lat,
                    lng : this.newSeries.lng,
                    zoom : this.newSeries.zoom,
                    photos : this.addedPhotos
                }).then((response) => {
                    this.$emit("pushSeries", response.data.series);
                    this.$emit('viewAddSeries', false);
                }).catch((error) => {
                    this.error.is = true;
                    this.error.msg = error.response.data.message;
                });

            },

            /** Methode displayDetailPhoto
             * Display the photo in big
             * @param {*} photo
             */
            displayDetailPhoto(photo){
                this.detailPhoto = photo;
                this.toggleDetailPhoto = true;
            },

            /** Methode toggleEditSeries
             * open/close editSeries modal
             * @param bool toggle
              */
            toggleAddSeries(toggle){
                this.$emit('viewAddSeries', toggle);
            },

            /** Methode viewDetailPhoto
             * open/close bigPhoto modal
             * @param bool toggle
              */
            viewDetailPhoto(toggle){
                this.toggleDetailPhoto = toggle;
            },
        }
    }
</script>

<style scoped>
    .container{
        margin-top: 4em;
        padding: 2em;
    }
    table img{
        width: 3em;
        height: 3em;
    }
</style>