<template>
    <div>
        <HeaderApp/>

        <div class="container">
            <h1>List of series</h1>
            <div class="row">
                <button @click="viewAddSeries(true)" class="col m1 offset-m11 s12 waves-effect waves-light btn">
                    <i class="large material-icons">add_circle</i>
                </button>
            </div>
            <div class="row">
                <button v-if="page != paramPagination.first" @click="pagination(false)" class="col s1">
                    <i class="large material-icons">chevron_left</i>
                </button>
                <span v-else class="col s1">

                </span>
                <button v-if="page != paramPagination.last" @click="pagination(true)" class="col s1 offset-s10">
                    <i class="large material-icons">chevron_right</i>
                </button>
            </div>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th>City</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                    <tr v-for="oneSeries in series">
                        <td>{{ oneSeries.city }}</td>
                        <td>{{ oneSeries.lat }}</td>
                        <td>{{ oneSeries.lng }}</td>
                        <td><i @click="editSeries(oneSeries)" class="material-icons red-text lighten-1-text">edit</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-if="!series" class="row">
            <img src="@/assets/loading.gif" class="loader col s2 offset-s5" />
        </div>

        <transition name="fade">
            <AddSeries v-if="toggleAddSeries" @viewAddSeries="viewAddSeries" @pushSeries="pushSeries"/>
        </transition>
        <transition name="fade">
            <EditSeries v-if="toggleEditSeries" @viewEditSeries="viewEditSeries" @updateSeries="updateSeries" :series="detailSeries"/>
        </transition>
    </div>
</template>

<script>
import HeaderApp from '@/components/HeaderApp.vue'
import AddSeries from '@/components/series/AddSeries.vue'
import EditSeries from '@/components/series/EditSeries.vue'

export default {
    name: "ListSeries",
    components: {
        HeaderApp,
        AddSeries,
        EditSeries
    },
    data(){
        return{
            series: false,
            toggleAddSeries : false,
            page : 1,
            paramPagination : false,
            detailSeries : "",
            toggleEditSeries : false
        }
    },
    mounted(){
        this.memberConnected();
        this.getSeries();
    },
    methods : {

        /** Methode getSeries
         * Take a part of series
         * Change if page change
          */
        getSeries(){
            window.axios.get("series?page="+this.page).then((response) => {
                this.series = response.data.series;
                this.paramPagination = response.data.page;
            }).catch((error) => {
                this.$store.commit('setToken',false);
                this.$router.push("/");
            })
        },

        /** Methode pagination
         * ++ or -- the page
         * @param bool sens
          */
        pagination(sens){
            this.series = false;
            if(sens){
                this.page = this.paramPagination.next;           
            }
            else{
                this.page = this.paramPagination.prev;
            }
            this.getSeries();
        },

        /** Methode
         * Toggle editSeries modal
         * @param {*} series
          */
        editSeries(series){
            this.detailSeries = series;
            this.toggleEditSeries = true;
        },

        /** Methode viewAddSeries
         * toggle AddSeries modal
         * @param bool toggle
          */
        viewAddSeries(toggle){
            this.toggleAddSeries = toggle;
        },

        /** Methode viewEditSeries
         * toggle EditSeries modal
         * @param bool toggle
          */
        viewEditSeries(toggle){
            this.toggleEditSeries = toggle;
        },

        /** Methode pushSeries
         * event to add a series into the series list
         * @param {*} series
          */
        pushSeries(series){
            this.series.push(series);
        },

        /** Methode updateSeries
         * event refresh listSeries
          */
        updateSeries(){
            this.getSeries();
        }
    }
}
</script>
