<template>
    <div id="game" class="page" v-if="this.photos !== null">
        <HeaderApp></HeaderApp>
        <div v-if="error.is" class="red-text">
            {{ error.msg }}
        </div>
        <Picture v-else :photo="this.photos.photos[$store.state.photoIndex]"/>
        <Player :photo="this.photos.photos[$store.state.photoIndex]"/>
        <Map :photo="this.photos.photos[$store.state.photoIndex]"/>

    </div>
</template>

<script>
    import HeaderApp from "../components/HeaderApp";
    import Map from "../components/Map";
    import Player from "../components/Player";
    import Picture from "../components/Picture";


    export default {
        name: "Game",
        components:{
            Map,
            HeaderApp,
            Player,
            Picture,
        },

        data(){
            return {
                name: '',
                game: [],
                photos: null,
                error : {
                    is : false,
                    msg : ""
                }
            }
        },

        mounted(){
            this.getPhotos(); //Charge les photos de la série
        },

        methods: {

            //Récupère toutes les photos de la serie sélectionnée ds la bdd
            getPhotos(){
                window.axios.get("series/"+this.$store.state.currentSeries.id+"/photos?nb=" + this.$store.state.currentLevel.nbphotos)
                    .then(response => {
                        this.photos = response.data;
                    }).catch(error => {
                    this.error.is = true;
                    this.error.msg = error.response.data.message;
                });
            },

        }
    }
</script>

<style lang="scss" scoped>

    #game {
        display:grid;
        grid-template-areas:
                "nav nav"
                "photo map"
                "player map";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 65vh auto;
        justify-items: center;
    }


    @media (min-width: 880px) and (max-width: 1091px)  {
        #game {
            height: auto;
            grid-template-areas: "nav nav" "photo player" "map map";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto 250px 400px;
        }
        .page {
            height: 100%;
        }
        #player {
            padding-bottom:30px;
        }


    }
    @media (max-width: 880px) {
        #game {
            height:auto;
            grid-template-areas:
                    "nav"
                    "photo"
                    "player"
                    "map";
            grid-template-columns: 1fr ;
            grid-template-rows: auto 250px auto 400px;
        }
        .page {
            height: 100%;
        }
        #player {
            padding-bottom:30px;
        }
    }
</style>