<template>
    <div id="home" class="page teal lighten-1">
        <header-app></header-app>

        <img class="logo" src="../assets/geoquizz-logo.png" alt="logo">
        <h1 class="app-title">GéoQuizz</h1>
        <form>
            <div class="input-field">
                <input v-model="name" id="name" type="text" class="validate" required>
                <label for="name">Nom</label>
            </div>
            <div v-if="this.$store.state.currentLevel !== false && levels!==null" >
                <label>Difficulté</label>
                <select @change="updateCurrentLevel($event)">
                    <option :key="level.id" v-for="level in levels" :value="level.id">{{ level.name }}</option>
                </select>
            </div>
            <div v-if="this.$store.state.currentSeries !== false && series!==null">
                <label>Secteur</label>
                <select @change="updateCurrentSeries($event)">
                    <option v-for="aSeries in series" :key="aSeries.id" :value="aSeries.id">{{ aSeries.city }}</option>
                </select>
            </div>
            <template v-if="name == null || name == ''">
                <button type="button" @click="createGame" class="waves-effect waves-light btn red lighten-1" disabled>Start</button>
            </template>
            <template v-else>
                <button type="button" @click="createGame" class="waves-effect waves-light btn red lighten-1">Start</button>
            </template>
            <div v-if="error.is" class="red-text">
                {{ error.msg }}
            </div>
        </form>
    </div >
</template>

<script>
    import HeaderApp from "../components/HeaderApp";
    import Swal from 'sweetalert2'

    export default {
        name: 'Home',
        components: {
            HeaderApp,
        },
        data(){
            return {
                name: null,
                levels: null,
                series: null,
                error : {
                    is : false,
                    msg : ""
                }
            }
        },

        mounted(){
            M.AutoInit();

            if (this.$store.state.game){
                /*Lance une modal pour montrer que l'utilisateur a deja un jeu un cours.
                Soit l'utilisateur souhaite continuer sa partie en cours,
                soit il souhaite commencer une nouvelle partie donc on réinitialise le store*/
                Swal.fire({
                    title: 'Tu as déjà un jeu ?',
                    text: "Tu veux continuer ?",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: "Non",
                    confirmButtonText: 'Oui, pourquoi pas'
                }).then((result) => {
                    if (result.value) {
                        this.$router.push('game');
                    }else{
                        this.reinitializeStore();
                        this.$router.push('/');
                    }
                })
            }else{
                this.reinitializeStore();
            }
            this.getLevels(); //On charge les niveaux
            this.getSeries();// On charge les séries
        },

        methods: {
            updateCurrentLevel(event){
                this.$store.commit('setCurrentLevel', this.levels[event.target.value-1]);
            },
            updateCurrentSeries(event){
                this.$store.commit('setCurrentSeries', this.series[event.target.value-1]);
            },
            // Crée une partie
            createGame(){
                window.axios.post("games/", {
                    'status': 1, //en train de jouer
                    'player': this.name,
                    'idSeries': this.$store.state.currentSeries.id,
                    'idLevel': this.$store.state.currentLevel.id
                }).then((response) => {
                    this.game = response.data.games;
                    this.$store.commit('setScore', 0);
                    this.$store.commit('setPhotoIndex', 0);
                    this.$store.commit('setGame', this.game);
                    this.$store.commit('setIsPlaying', true);
                    this.$router.push('game');

                }).catch((error) => {
                    this.error.is = true;
                    this.error.msg = error.response.data.message;
                });
            },

            // Récupére tous les niveaux
            getLevels(){
                window.axios.get("levels/" )
                    .then(response => {
                        this.levels = response.data.levels;
                        if(this.levels.length>0){
                            this.$store.commit('setCurrentLevel', this.levels[0]);// initialise la liste déroulante avec le 1er niveau
                        }
                    }).catch(error => {
                    this.error.is = true;
                    this.error.msg = error.response.data.message;
                });
            },

            // Récupère toutes les séries
            getSeries(){
                window.axios.get("series/").then((response) => {
                    this.series = response.data.series;
                    if(this.series.length>0){
                        let nancyFound=false;
                        this.series.forEach(aSeries =>{
                            if(aSeries.city == "Nancy") {
                                // Si je trouve la série Nancy, j'initialise ma liste déroulante avec
                                this.$store.commit('setCurrentSeries', aSeries);
                                nancyFound = true;
                            }
                        });
                        if (nancyFound == false) {
                            // Si il n'y a pas de serie Nancy, j'initialise ma liste déroulante avec la 1ère série
                            this.$store.commit('setCurrentSeries', this.series[0]);
                        }
                    }
                }).catch((error) => {
                    this.error.is = true;
                    this.error.msg = error.response.data.message;
                })
            },

        }
    }
</script>

<style lang="scss">

    #home {
        display: grid;
        grid-template-areas:
                "nav nav"
                "logo title"
                "formulaire formulaire";
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        .logo {
            grid-area: logo;
            align-self: center;
            justify-self: right;
        }
        h1.app-title {
            grid-area: title;
            align-self: center;
            justify-self: left;
            color: white;
            font-size: 6em;

        }
        form {
            grid-area: formulaire;
            width: 20%;
            display: flex;
            flex-direction: column;
            select{
                display: inline-block;
            }
            label {
                color: black;
                padding-bottom: 10px;
            }
            div input, div .v-select{
                background-color: white;
            }
            button {
                margin-top: 20px;
                width: 100%;
            }
        }
    }

    @media (max-width: 720px) {
        #home {
            grid-template-areas:
                    "nav"
                    "logo"
                    "title"
                    "formulaire";
            grid-template-columns: 1fr;

            img.logo {
                justify-self: center;
                height: 200px;
                width: auto;
            }

            h1.app-title {
                justify-self: center;
                font-size: 3em;
                margin-top: 0px;
                margin-bottom: 10px;
            }

            form {
                width: 50%;
            }

            form div {
                width:100%
            }

            form button {
                width: 100%;
            }
        }
    }
</style>
