<template>
    <div id="app">
        <router-view/>
    </div>
</template>

<script>
    export default {
        name: 'App',
        mounted() {
            M.AutoInit();
        }
    }

</script>

<style lang="scss">
    * {
        box-sizing: content-box;
    }
    .page {
        height: 100vh;
    }
    .link {
        cursor: pointer;
    }
    i, .click{
        cursor: pointer;
    }
    .scroll{
        height: 60vh;
        overflow-y: scroll;
    }
    button {
        border: none;
        background: none;
        cursor: pointer;
    }
    hr{
        border: 0.6px solid rgba(0,0,0,0.5);
    }
    .loader{
        margin-top: 2em;
        width: 5em;
        height: auto;
    }
    .modalPers{
        width:100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top:0; left:0;
        background-color: rgba(0,0,0,0.7);
        z-index: 5;
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
</style>
