<template>
    <div id="app">
        <router-view/>
    </div>
</template>

<script>
    export default {
        name: 'App',
        mounted() {
            M.AutoInit(); //Initialise materialize
        }
    }

</script>

<style lang="scss">
    * {
        box-sizing: content-box;
    }
    .page {
        height: 100vh;
    }
    .link {
        cursor: pointer;
    }
    button {
        border: none;
        background: none;
    }
    h1.app-title {
        font-family: 'Pacifico';
    }
    .modal-content {
        line-height: 40px;
    }

</style>
