<template>
    <nav id="header-app">
        <div class="nav-wrapper red lighten-1">

            <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <router-link to="/" class="brand-logo">
                <i class="material-icons logo">location_on</i>
                GéoQuizz
            </router-link>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a class=" modal-trigger" href="#bestScore">Top 15</a>
                </li>
                <li>
                    <a class=" modal-trigger" href="#rules">Règles du jeu</a>
                </li>
            </ul>

            <ul id="mobile" class="sidenav">
                <li>
                    <a class=" modal-trigger" href="#bestScore">Top 15</a>
                </li>
                <li>
                    <a class=" modal-trigger" href="#rules">Règles du jeu</a>
                </li>
            </ul>

            <modal-best-scores></modal-best-scores>
            <modal-rules></modal-rules>

        </div>
    </nav>
</template>

<script>

    import ModalRules from "../components/modals/ModalRules";
    import ModalBestScores from "./modals/ModalBestScores";

    export default {
        name: "HeaderApp",

        components: {
            ModalRules,
            ModalBestScores
        },

        mounted() {
            M.AutoInit();
        },
    }
</script>

<style lang="scss" scoped>

    #header-app {
        grid-area: nav;
        .sidenav {
            z-index:1001;
        }
    }

</style>