<template>
        <div class=" photo-container ">
            <img :src="photo.url" class="responsive-img" alt="image">
        </div>
</template>

<script>
    export default {
        name: "Picture",
        props: ["photo"]
    }
</script>

<style lang="scss" scoped>

    .photo-container{
        padding: 10px;
        grid-area: photo;
        img {
            max-width: 100%;
            max-height: 100%;
            .resposive-img{
                margin: auto;
            }
        }
    }
</style>