<template>
    <div id="player">
            <h4 class="col l5 offset-l1 center-align">Photo {{this.$store.state.photoIndex+1}} / {{this.$store.state.currentLevel.nbphotos}}</h4>
            <h4 class="col l5 center-align ">Mon score: {{this.$store.state.score}}</h4>

            <button type="button"
                    v-if="isPlaying"
                    @click="pauseGame"
                    class="btn-floating btn-large waves-effect waves-light red">
                <i class="material-icons">pause</i>
            </button>
            <button type="button"
                    v-else
                    @click="resumeGame"
                    class="btn-floating btn-large waves-effect waves-light red">
                <i class="material-icons">play_arrow</i>
            </button>

            <!--Si ça n'est pas la dernière photo et qu'aucun pointeur n'est posé sur la carte on désactive bouton suivant-->
            <button type="button"
                    v-if="this.$store.state.photoIndex < this.lastPhoto && this.$store.state.marker == false"
                    @click="increasePhotoIndex"
                    class="waves-effect waves-light btn-large teal lighten-1 "
                    disabled>
                <i class="material-icons right">navigate_next</i>
                Suivante
            </button>

            <!--Si ça n'est pas la dernière photo et que le joueur a posé un pointeur sur la carte on active bouton suivant-->
            <button type="button"
                    v-else-if="this.$store.state.photoIndex < this.lastPhoto"
                    @click="increasePhotoIndex"
                    class="waves-effect waves-light btn-large" >
                <i class="material-icons right">navigate_next</i>
                Suivante
            </button>
            <!--Si on a atteind la dernière photo || DISABLED-->
            <button type="button"
                    v-else-if="this.$store.state.photoIndex == this.lastPhoto && this.$store.state.marker === false"
                    @click="finishGame"
                    class="waves-effect waves-light btn-large disabled">
                Finir partie
            </button>
            <!--Quand on a vraiment fini le dernier point || PAS DISABLED-->
            <button type="button"
                    v-else
                    @click="finishGame"
                    class="waves-effect waves-light btn-large player-btn">
                Finir partie
            </button>
<!--="this.$store.state.photoIndex == this.lastPhoto && this.$store.state.marker === true"-->

        <!--</div>-->
        <ModalPause :isPlaying="isPlaying"  @resumeGame="resumeGame"/>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    import ModalPause from "../components/modals/ModalPause";

    export default {
        name: "Player",
        props: ["photo"],
        components: {
            ModalPause
        },
        data() {
            return{
                lastPhoto: this.$store.state.currentLevel.nbphotos-1,
                isPlaying: true,
                idSeries: this.$store.state.currentLevel.id,
                game: this.$store.state.game,
                error : {
                    is : false,
                    msg : ""
                }
            }
        },
        created() {
            //Verifie s'il y a un jeu déja commencé et il recommence depuis la
            // noinspection EqualityComparisonWithCoercionJS
            if (this.$store.state.game && this.$store.state.score != 0){
                this.game = this.$store.state.game;
                this.resumeGame();
            }
        },


        methods:{
            //Passe à la photo suivante
            increasePhotoIndex(){
                const newPhoto = this.$store.state.photoIndex + 1; //Incrémente l'index de la photo
                this.$store.commit('setPhotoIndex',newPhoto);
                this.$store.commit('setMarker',false); // Remet le marqueur à false
                this.startTimer(); //Recommence le chrono
            },

            //Lorsque j'ai fini la parti
            finishGame(){
                Swal.fire({ //Ouvre une modal
                    title: 'Tu veux garder ton score ?',
                    text: "Si tu ne le gardes pas, tu ne peux pas faire partie des meilleurs",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'Non',
                    confirmButtonText: 'Oui! Le sauvegarder'

                }).then((result) => {//Si l'utilisateur souhaite sauvegarder la partie
                    if (result.value) {
                        window.axios.patch("games/"+this.game.id,{
                            'status': 2, //on change statut de la partie (état fini)
                            'score': this.$store.state.score // on enregistre le score
                        }).then((response) => {
                            this.game = response.data.games;
                            Swal.fire({
                                title: 'Gardé!',
                                html: 'Tu peux voir les meilleurs scores en haut à droite',
                                timer: 1000,
                                onBeforeOpen: () => {//Il charge 1 seconde et réinitialise le store
                                    Swal.showLoading();
                                    this.reinitializeStore();
                                },
                                onClose: () => { //Apres on va home
                                    this.$router.push('/');
                                }
                            }).then((result) => {

                            });
                        }).catch((error) => {
                            /**TODO:    **/
                            console.log(error.response.data.message);
                        });

                    }else{ //Si l'utilisateur clique qu'il ne veut pas garder son score
                        Swal.fire({
                            title: "Merci d\'avoir jouer",
                            html: 'Tu peux voir les meilleurs scores en haut à droite',
                            timer: 1000,
                            onBeforeOpen: () => {//Il charge 1 seconde et réinitialise le store
                                Swal.showLoading();
                                this.reinitializeStore();
                            },
                            onClose: () => {//Après on renvoie sur la home
                                this.$router.push('/');
                            }
                        }).then((result) => {

                        });
                    }
                });

            },

            pauseGame(){ //pause le jeu, et met en localStorage l'info pour continuer apres
                this.isPlaying = false;
                this.$store.commit('setGame',this.game);
                this.$store.commit('setIsPlaying',this.isPlaying);
                window.axios.patch("games/"+this.game.id,{'status': 0,'score':this.$store.state.score})
                    .then((response) => {
                        this.game = response.data;
                    }).catch((error) => {

                    // TODO
                    console.log(error.response.data.message);
                });

            },

            //Permet de reprendre une partie après une pause
            resumeGame(){
                this.isPlaying = true;
                this.$store.commit('setIsPlaying',this.isPlaying);
                window.axios.patch("games/"+this.game.id,{'status': 1})
                    .then((response) => {
                        this.game = response.data.games;
                    }).catch((error) => {
                //TODO
                        console.log(error.response.data.message);
                });
            },
        }

    }
</script>

<style lang="scss" scoped>
    #player {
        width: 100%;
        grid-area: player;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        justify-items: center;
    }

    @media (min-width: 880px) and (max-width: 1000px) {
        h4 {
            font-size: 1.5em;
        }
    }

    @media (max-width: 880px) {
        h4 {
            font-size: 1.5em;
        }
    }


</style>