<template>
    <div class="modalPers">
        <div class="container center-align white">
            <div class="row">
                <h3 class="col l11 s10 left-align">Add a photo</h3>
                <button @click="toggleAddPhoto(false)" class="col l1 s2">
                    <i class="small material-icons right-align">cancel</i>
                </button>
            </div>
            <div class="row scroll">
                <form>
                    <div class="input-field ">
                        <input v-model="newPhoto.description" id="description" type="text" class="validate" required>
                        <label for="description">Description</label>
                    </div>
                    <FileInput @selectedFile="selectedFile"/>
                    <div class="row">
                        <l-map ref="myMap"
                            class="col m6 s12"
                            style="height: 40vh;"
                            :zoom="4"
                            :center="center"
                            @click="setMarker"
                            >
                            <l-tile-layer :url="url"></l-tile-layer>
                            <l-marker v-if="marker" :lat-lng="marker" ></l-marker>
                        </l-map>
                        <div class="col m6 s12">
                            <div class="row">
                                <div class="col s12">
                                    Series
                                    <hr/>
                                </div>
                                <div class="col s12">
                                    Page {{ page }}
                                </div>
                                <button v-if="page != paramPagination.first" @click="paginationSeries(false)" class="col m1 s2">
                                    <i class="small material-icons">chevron_left</i>
                                </button>
                                <span v-else class="col s1">

                                </span>
                                <button v-if="page != paramPagination.last" @click="paginationSeries(true)" class="col m1 offset-m10 s2 offset-s10">
                                    <i class="small material-icons">chevron_right</i>
                                </button>
                            </div>
                            <table class="responsive-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>City</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                </tr>
                                </thead>

                                <tbody>
                                    <tr v-for="oneSeries in series">
                                        <td>
                                            <template v-if="newPhoto.series">
                                                <template v-if="newPhoto.series == oneSeries.id">
                                                    <i class="material-icons" @click="undoSeries()">radio_button_checked</i>
                                                </template>
                                                <template v-else>
                                                    <i class="material-icons" @click="addSeries(oneSeries.id)">radio_button_unchecked</i>
                                                </template>
                                            </template>
                                            <template v-else>
                                                <i class="material-icons" @click="addSeries(oneSeries.id)">radio_button_unchecked</i>
                                            </template>
                                        </td>
                                        <td>{{ oneSeries.city }}</td>
                                        <td>{{ oneSeries.lat }}</td>
                                        <td>{{ oneSeries.lng }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div v-if="!series" class="row">
                            <img src="@/assets/loading.gif" class="loader col s2 offset-s5" />
                        </div>
                    </div>
                </form>
            </div>
            <div v-if="send" class="row">
                <img src="@/assets/loading.gif" class="loader col s2 offset-s5" />
            </div>
            <button v-if="newPhoto.description && newPhoto.lat && newPhoto.lng && newPhoto.image" @click="add"  type="submit" class="s12 waves-effect waves-light btn">
                <i class="large material-icons">add_circle</i>
            </button>
            <button v-else  type="submit" class="s12 waves-effect waves-light btn" disabled>
                <i class="large material-icons">add_circle</i>
            </button>
        </div>
    </div>
</template>

<script>
    import FileInput from '@/components/FileInput.vue'
    export default {
        name: "AddPhoto",
        props : ['viewAddPhoto','pushPhotos'],
        components : {
            FileInput
        },
        mounted() {
            this.$nextTick(() => {
                this.$refs.myMap.mapObject;
            })
            this.getSeries();
        },
        data(){
            return {
                newPhoto : {
                    description : "",
                    lat : false,
                    lng : false,
                    url : false,
                    image : false,
                    series : false,
                },
                center:[48.864716, 2.349014],
                url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
                marker: false,
                send : false,
                series: false,
                page : 1,
                paramPagination : false,
                error : {
                    is : false,
                    msg : ""
                }
            }
        },
        methods: {

            /** Methode getSeries
             * Take a part of series
             * Change if page change
             */
            getSeries(){
                window.axios.get("series?page="+this.page).then((response) => {
                    this.series = response.data.series;
                    this.paramPagination = response.data.page;
                }).catch((error) => {
                    this.$store.commit('setToken',false);
                    this.$router.push("/");
                })
            },

            /** Methode paginationSeries
             * ++ or -- the page
             * @param bool sens
             */
            paginationSeries(sens){
                this.series = false;
                if(sens){
                    this.page = this.paramPagination.next;           
                }
                else{
                    this.page = this.paramPagination.prev;
                }
                this.getSeries();
            },

            addSeries(id){
                this.newPhoto.series = id;
            },

            undoSeries(){
                this.newPhoto.series = false;
            },

            /** Methode setMarker
             * Edit lat and lng (marker)
             * @param {*} event
              */
            setMarker(event){
                this.marker = [event.latlng.lat, event.latlng.lng]
                this.newPhoto.lat = event.latlng.lat;
                this.newPhoto.lng = event.latlng.lng;
            },

            /** Methode selectedFile
             * select a image and stock him
             * @param {*} image
              */
            selectedFile(image){
                this.newPhoto.image = image;
            },

            /** Methode add
             * add a new Photo
              */
            add(){
                this.send = true;
                let CLOUDINARY_URL = "https://api.cloudinary.com/v1_1/djfa7u4wc/image/upload";
                let CLOUDINARY_UPLOAD_PRESET = "hqquzoc1"; 
                let formData = new FormData();
                formData.append('file', this.newPhoto.image);
                formData.append('upload_preset', CLOUDINARY_UPLOAD_PRESET);
                delete axios.defaults.headers.Authorization;

                axios({
                    url : CLOUDINARY_URL,
                    method : 'POST',
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    data : formData
                }).then((response) => {
                    this.memberConnected();
                    this.newPhoto.url = response.data.secure_url;
                    if(this.newPhoto.series){
                        window.axios.post('photos/', {
                            description : this.newPhoto.description,
                            lat : this.newPhoto.lat,
                            lng : this.newPhoto.lng,
                            url : this.newPhoto.url,
                            series : this.newPhoto.series
                        }).then((response) => {
                            this.send = false;
                            this.$emit("pushPhotos", response.data.photo);
                            this.$emit('viewAddPhoto', false);
                        }).catch((error) => {
                            this.error.is = true;
                            this.error.msg = error.response.data.message;
                        })
                    }
                    else{
                        window.axios.post('photos/', {
                            description : this.newPhoto.description,
                            lat : this.newPhoto.lat,
                            lng : this.newPhoto.lng,
                            url : this.newPhoto.url
                        }).then((response) => {
                            this.send = false;
                            this.$emit("pushPhotos", response.data.photo);
                            this.$emit('viewAddPhoto', false);
                        }).catch((error) => {
                            this.error.is = true;
                            this.error.msg = error.response.data.message;
                        })
                    }
                }).catch((error) => {
                    this.memberConnected();
                    this.error.is = true;
                    this.error.msg = error.response.data.message;
                });

            },

            /** Methode toggleAddPhoto
             * open/close AddPhoto modal
             * @param bool toggle
              */
            toggleAddPhoto(toggle){
                this.$emit('viewAddPhoto', toggle);
            }
        }
    }
</script>

<style scoped>
    .container{
        margin-top: 4em;
        padding: 2em;
    }
</style>