<template>
    <div class="modalPers">
        <div class="container center-align white">
            <div class="row">
                <h3 class="col l11 s10 left-align">Edit photo</h3>
                <button @click="toggleEditPhoto(false)" class="col l1 s2">
                    <i class="small material-icons right-align">cancel</i>
                </button>
            </div>
            <div v-if="error.is" class="red-text">
                {{ error.msg }}
            </div>
            <div class="row scroll">
                <l-map ref="myMap"
                class=" col m6 s12"
                style="height: 60vh;"
                :zoom="10"
                :center="center"
                @click="setMarker"
                >
                    <l-tile-layer :url="url"></l-tile-layer>
                    <l-marker v-if="marker" :lat-lng="marker" ></l-marker>
                </l-map>
                <div class="col m6 s12">
                    <div class="row">
                        <div class="col s12">
                            Series
                            <hr/>
                        </div>
                        <div class="col s12">
                            Page {{ page }}
                        </div>
                        <button v-if="page != paramPagination.first" @click="paginationSeries(false)" class="col m1 s2">
                            <i class="small material-icons">chevron_left</i>
                        </button>
                        <span v-else class="col s1">

                        </span>
                        <button v-if="page != paramPagination.last" @click="paginationSeries(true)" class="col m1 offset-m10 s2 offset-s10">
                            <i class="small material-icons">chevron_right</i>
                        </button>
                    </div>
                    <table class="responsive-table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>City</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                        </thead>

                        <tbody>
                            <tr v-for="oneSeries in series">
                                <td>
                                    <template v-if="photo.idSeries">
                                        <template v-if="photo.idSeries == oneSeries.id">
                                            <i class="material-icons" @click="undoSeries()">radio_button_checked</i>
                                        </template>
                                        <template v-else>
                                            <i class="material-icons" @click="addSeries(oneSeries.id)">radio_button_unchecked</i>
                                        </template>
                                    </template>
                                    <template v-else>
                                        <i class="material-icons" @click="addSeries(oneSeries.id)">radio_button_unchecked</i>
                                    </template>
                                </td>
                                <td>{{ oneSeries.city }}</td>
                                <td>{{ oneSeries.lat }}</td>
                                <td>{{ oneSeries.lng }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br/>
            <div class="row">
                <button @click="edit()" class="col m1 offset-m10 s12 waves-effect waves-light btn">Edit</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "EditPhoto",
        props : ['photo', 'viewEditPhoto'],
        data(){
            return {
                center:[this.photo.lat, this.photo.lng],
                url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
                marker: [this.photo.lat, this.photo.lng],
                lat : this.photo.lat,
                lng : this.photo.lng,
                error : {
                    is : false,
                    message : ""
                },
                series: false,
                page : 1,
                paramPagination : false,
            }
        },
        mounted() {
            /* Init for event in leaflet map */
            this.$nextTick(() => {
                this.$refs.myMap.mapObject;
            })
            this.getSeries();
        },
        methods: {

            /** Methode getSeries
             * Take a part of series
             * Change if page change
             */
            getSeries(){
                window.axios.get("series?page="+this.page).then((response) => {
                    this.series = response.data.series;
                    this.paramPagination = response.data.page;
                }).catch((error) => {
                    this.$store.commit('setToken',false);
                    this.$router.push("/");
                })
            },

            /** Methode paginationSeries
             * ++ or -- the page
             * @param bool sens
             */
            paginationSeries(sens){
                this.series = false;
                if(sens){
                    this.page = this.paramPagination.next;           
                }
                else{
                    this.page = this.paramPagination.prev;
                }
                this.getSeries();
            },

            addSeries(id){
                this.photo.idSeries = id;
            },

            undoSeries(){
                this.photo.idSeries = false;
            },

            /** Methode setMarker
             * Edit lat and lng (marker)
             * @param {*} event
              */
            setMarker(event){
                this.marker = [ event.latlng.lat, event.latlng.lng];
                this.lat = event.latlng.lat;
                this.lng = event.latlng.lng;
            },

            /** Methode edit
             * edit localisation of a photo
              */
            edit(){
                window.axios.patch('photos/'+this.photo.id, {
                    lat : this.lat,
                    lng : this.lng,
                    series : this.photo.idSeries
                }).then((response) => {
                    this.photo.lat = this.lat;
                    this.photo.lng = this.lng;
                    this.toggleEditPhoto(false);
                }).catch((error) => {
                    this.error.is = true;
                    this.error.msg = error.response.data.message;
                })
            },
            
            /** Methode toggleEditPhoto
             * toggle modal
             * @param bool toggle
              */
            toggleEditPhoto(toggle){
                this.$emit('viewEditPhoto', toggle);
            }
        }
    }
</script>

<style scoped>
    .container{
        margin-top: 4em;
        padding: 2em;
    }
</style>